# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
build/
dist/

# Virtual env
env_*/
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp

# Data générée
data/
*.json
*.csv

# Mock site
mock-site/

# Logs / tools
*.log

# OS
.DS_Store
Thumbs.db